<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>csci5409-aws-web-services</title>

    <!-- Bootstrap core CSS -->
    <link href="<%= static_path + "/bootstrap/css/theme/" + theme + "/bootstrap.css" %>" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="<%= static_path + "/bootstrap/css/jumbotron-narrow.css" %>" rel="stylesheet">

</head>

<body>

<div class="container" style="padding-bottom: 30px;">
    <div class="header">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a id="create" href="#">Create</a></li>
            <li><a id="read" href="#">Read</a></li>
            <li><a id="update" href="#">Update</a></li>
            <li><a id="delete" href="#">Delete</a></li>
        </ul>
        <h3 class="text-muted">CSCI 5409 AWS WEB SERVICE</h3>
    </div>
    <form class="  p-5 col-xs-10" action="#!" id="part-form" name="part-form">

        <div class="form-row mb-4" id="toolbar_parameters">
            <label class="col" id='part_no' for="part_no">PART Number<input name="part_no" type="number"
                                                               type="number"
                                                               value='0'
                                                               step="any" min="0"></label>
            <label class="col" id='part_desc' for="part_desc">PART DESC<input name='part_desc'
                                                               type="text"
                ></label>

            <input class="col btn btn-info btn-block my-2" name='submit' type="button" id="submit"
                   value="submit"
            >
            <div class="form-row mb-4 error text-danger" id="error_msg"></div>
        </div>


    </form>


</div> <!-- /container -->

<div class="col-md-12">
    <div id="table" class="col-md-5" style="overflow-y:scroll;">
        <table cellpadding="2" cellspacing="2" border="0" bgcolor="#dfdfdf" width="80%" align="center">
            <thead>
            <tr>
                <th width="20%">Part_no</th>
                <th width="80%">Part_Description</th>
            </tr>
            </thead>
            <tbody id="tableData"></tbody>
        </table>
    </div>
    <div id="log" class="col-md-5" style="overflow-y:scroll;"><%= serverResp %></div>
</div>

<script src="<%= static_path + "/jquery/jquery-1.11.3.min.js" %>"></script>
<script src="<%= static_path + "/bootstrap/js/bootstrap.min.js" %>"></script>
<script type="text/javascript">
    let scanTable = function(oldMsg) {
        $.get("/readall", $("#part-form").serialize(),
            function (data) {
                $('#log').append(oldMsg)
                $('#log').append("<br/>");
                $('#log').append("Scan table result:" + JSON.stringify(data, null, 4));
                let k = '<tbody>';
                let mainObj = JSON.parse(JSON.stringify(data))['Items'];
                for(i = 0;i < mainObj.length; i++){
                    k+= '<tr>';
                    k+= '<td>' + JSON.stringify(mainObj[i].part_no, null, 4) + '</td>';
                    k+= '<td>' + JSON.stringify(mainObj[i].part_desc, null, 4) + '</td>';
                    k+= '</tr>';
                }
                k+='</tbody>';
                document.getElementById('tableData').innerHTML = k;
            }
        );
    }
    $(document).ready(function () {
        let mode = 'create';
        scanTable('');

        $("#create").click(function () {
            $("#part_no").prop('disabled', false);
            $("#part_desc").prop('disabled', false);
            $(".part_no").show();
            $(".part_desc").show();
            mode = 'create';
        });
        $("#read").click(function () {
            $("#part_no").prop('disabled', false);
            $("#part_desc").prop('disabled', true);
            $(".part_no").show();
            $(".part_desc").hide();
            mode = 'read';
        });
        $("#update").click(function () {
            $("#part_no").prop('disabled', false);
            $("#part_desc").prop('disabled', false);
            $(".part_no").show();
            $(".part_desc").show();
            mode = 'update';
        });
        $("#delete").click(function () {
            $("#part_no").prop('disabled', false);
            $("#part_desc").prop('disabled', true);
            $(".part_no").show();
            $(".part_desc").hide();
            mode = 'delete';
        });
        $("#submit").click(function () {
            let formBody = $("#part-form").serialize();
            console.log("send req:", formBody);
            switch(mode) {
                case "create":
                   $.post("/create", formBody,
                        function (data) {
                            $('#log').html(JSON.stringify(data));
                            scanTable(JSON.stringify(data));
                        }
                    );
                break;
                case "read":
                    $.get("/read", formBody,
                        function (data) {
                            $('#log').html(JSON.stringify(data));
                            scanTable(JSON.stringify(data));
                        }
                    );
                    break;
                case "update":
                    $.post("/update", formBody,
                        function (data) {
                            $('#log').html(JSON.stringify(data));
                            scanTable(JSON.stringify(data));
                        }
                    );
                    break;
                case "delete":
                    $.post("/delete", formBody,
                        function (data) {
                            $('#log').html(JSON.stringify(data));
                            scanTable(JSON.stringify(data));
                        }
                    );
                    break;

            }
        })
    })
</script>
</body>
</html>
